## Colecciones

In [1]:
lst_z = ['Pedro', 25, 'Miguelina', 56, 'Fernando', 45, 'Josefina', 49.3, False]
lst_z

['Pedro', 25, 'Miguelina', 56, 'Fernando', 45, 'Josefina', 49.3, False]

In [3]:
lst_z = lst_z +[49]
lst_z

['Pedro', 25, 'Miguelina', 56, 'Fernando', 45, 'Josefina', 49.3, False, 49, 49]

In [7]:
lst_z.append(60)

In [8]:
lst_z

['Pedro',
 25,
 'Miguelina',
 56,
 'Fernando',
 45,
 'Josefina',
 49.3,
 False,
 49,
 49,
 [60],
 60]

In [11]:
lst_z.insert(2,90)

In [12]:
lst_z

['Pedro',
 25,
 90,
 'Miguelina',
 56,
 'Fernando',
 45,
 'Josefina',
 49.3,
 False,
 49,
 49,
 [60],
 60,
 2]